[Desktop Entry]
Type=Application
Version=1.0
Name=Eduka-Konekta
GenericName=School Messenger, Exams & Attendance
GenericName[id]=Chat, Ujian & Absensi Sekolah
GenericName[tet]=Chat, Ezame no Prezensa Eskola
GenericName[pt]=Conversas, Exames e Presenças
GenericName[pt_BR]=Conversas, Provas e Chamada
Comment=School chat, exams, assignments and attendance over Wi-Fi or LAN
Comment[id]=Chat sekolah, ujian, tugas, dan absensi lewat Wi-Fi atau LAN
Comment[tet]=Chat eskola, ezame, tarefa no prezensa liuhusi Wi-Fi ka LAN
Comment[pt]=Conversas, exames, trabalhos e presenças por Wi-Fi ou LAN
Exec=eduka-konekta
Icon=tl.edukasaun.EdukaKonekta
Terminal=false
Categories=Network;Chat;Education;
Keywords=school;chat;education;LAN;WiFi;P2P;exam;attendance;sekolah;ujian;absensi;
StartupNotify=true
StartupWMClass=tl.edukasaun.EdukaKonekta

